@import "./main.css";

.row-2 {
  justify-content: space-between;
  margin: 6.25rem auto 3.12rem;
}

.page-btn {
  margin: 0 auto 5rem;
}

.page-btn span {
  display: inline-block;
  border: 1px solid var(--secondaryColor);
  margin-left: 0.625rem;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 2.5rem;
  cursor: pointer;
}

.page-btn span:hover {
  background: var(--secondaryColor);
  color: white;
}

.col-4 img,
.col-4 h4 {
  cursor: pointer;
}
