* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primaryColor: #555;
  --secondaryColor: #ff523b;
}

body {
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1.25rem;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 1.25rem;
}

a {
  text-decoration: none;
  color: var(--primaryColor);
}

p {
  color: var(--primaryColor);
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 3.125rem 0;
}

.col-2 h1 {
  font-size: 3.125;
  line-height: 60px;
  margin: 1.5rem 0;
}

.btn {
  display: inline-block;
  background: var(--secondaryColor);
  color: white;
  padding: 8px 30px;
  margin: 1.8rem 0;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover {
  background: #563434;
}

.header {
  background: radial-gradient(#fff, #ffd6d6);
}

.header .row {
  margin-top: 4.3rem;
}

/**----------------CATEGORIES----------------------**/

.categories {
  margin: 4.3rem 0;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding: 0 1.5rem;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 1.875rem;
}

.col-3 img {
  width: 100%;
}

/**----------------PRODUCTS----------------------**/

.col-4 {
  flex-basis: 25%;
  padding: 0.6rem;
  min-width: 200px;
  margin-bottom: 3.1rem;
  transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 5rem;
  position: relative;
  line-height: 3.75rem;
  color: var(--primaryColor);
}

.title::after {
  content: "";
  background: var(--secondaryColor);
  width: 5rem;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

h4 {
  color: var(--primaryColor);
  font-weight: normal;
}

.col-4 p {
  font-size: 0.875rem;
}

.rating .fa {
  color: var(--secondaryColor);
}

.col-4:hover {
  transform: translateY(-5px);
}

/**----------------OFFER----------------------**/

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
}

small {
  color: var(--primaryColor);
}

/**----------------TESTIMONIAL----------------------**/

.testimonial {
  padding-top: 100px;
}

.testimonial .col-3 {
  text-align: center;
  padding: 2.5rem 1.25rem;
  cursor: pointer;
  transition: transform 0.5s;
}
.testimonial .col-3:hover {
  transform: translateY(-10px);
}

.testimonial .col-3 img {
  width: 3.12rem;
  margin-top: 1.25rem;
  border-radius: 50%;
}

.fa.fa-quote-left {
  font-size: 2.12rem;
  color: var(--secondaryColor);
}

.col-3 p {
  font-size: 0.75rem;
  margin: 0.75rem 0;
  color: #777;
}

.testimonial .col-3 h3 {
  font-weight: 600;
  color: var(--primaryColor);
}
